h1 {
  color: rgb(143, 209, 143);
  font-style: italic;
  text-align: center;
  line-height: 30px;
}

h2 {
  color: rgb(29, 90, 90);
  text-align: center;
  line-height: 30px;
}

h3 {
  color: rgb(161, 210, 240);
  font-weight: 400;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(122, 33, 33);
  font-size: 22px;
}

ul {
  font-size: 19px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a {
    background-color: transparent;
}
a:hover, a:link:hover {
    color: #ffbf00;
    outline: single, dotted;
}
.page-wrapper { right: 0; background-image: -webkit-linear-gradient(left, rgba(6, 59, 112, 0) 0%, #063b70 50%); background-image: linear-gradient(to right, rgba(6, 59, 112, 0) 0%, #063b70 50%); }