h1 {
  color: rgb(143, 209, 143);
  font-style: italic;
  text-align: center;
  line-height: 30px;
}

h2 {
  color: rgb(49, 189, 189);
  text-align: center;
}

p {
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(122, 33, 33);
}

ul {
  font-size: 19px;
}